@font-face {
  font-family: 'Gill Sans Nova';
  font-style: normal;
  font-weight: 400;
  src: local('Gill Sans Nova'), url('https://fonts.cdnfonts.com/s/13921/5.- Gill Sans Nova Book.woff') format('woff');
}

.faceImg {
  width: 92px;
  height: 128px;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
}

@media (min-width : 900px) {

  .resumeDownload {
      position: fixed;
  }
}

h1 {
  font-family: 'Gill Sans Nova';
  font-weight: 600;
}

@media  (max-width : 899px) {
  .resumeDownload {
      display: flex;
      margin: auto;
      align-content: center;
      justify-content: space-around;
  }
}

@media (min-width: 450px),(max-width: 899px) {

  .w-lg-25 {
      width: 100% !important;
  }
}

@media (min-width: 900px),(max-width: 1399) {

  .w-lg-25 {
      width: 50% !important;
  }
}

@media (min-width: 1400px) {

  .w-lg-25 {
      width: 25% !important;
  }
}

.card-img-top {
  object-fit: cover;
}

.nav-link {
  color: #fff;
}

.nav-link:focus {
  background-color: grey;
  color:#fff;
  border-radius: 4px;
}

.card {
  transition: transform 0.1s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
}

.card:hover {
  transform: scale(1.02);
}

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
  outline: none;
}

a, .btn-link {
  color: #0071c1;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.content {
  padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}
