body {
  margin: 0;
  font-family: 'Gill Sans Nova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  font-family: 'Gill Sans Nova';
}

code {
  font-family: 'Gill Sans Nova';
}